<div class="container">
    <app-toolbar [isDarkTheme]="isDarkMode" 
        (sidenavToggle)="sidenav.toggle()" 
        (changeTheme)="onChangeTheme($event)">
    </app-toolbar>

    <mat-sidenav-container class="container sidenav" hasBackdrop="true">
        <mat-sidenav #sidenav mode="over" class="menu-container" (click)="sidenav.toggle()">
            <div class="container menu">
                <ul>
                    <li><a href="#home" mat-button>Home</a></li>
                    <li><a href="#about" mat-button>About Me</a></li>
                    <li><a href="#experience" mat-button>Experience</a></li>
                    <!-- <li><a href="#projects" mat-button>Projects</a></li> -->
                    <li><a href="#contact" mat-button>Contact</a></li>
                </ul>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="container content">
            <app-hero id="home"></app-hero>
            <app-about-me id="about"></app-about-me>
            <app-experience id="experience"></app-experience>
            <app-contact id="contact"></app-contact>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer>
        <ul class="social-media">
            <li><a href="https://www.instagram.com/quethzel/" target="_blank"><fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon></a></li>
            <li><a href="https://stackoverflow.com/users/story/3232586" target="_blank"><fa-icon [icon]="['fab' ,'stack-overflow']" size="lg"></fa-icon></a></li>
            <li><a href="https://github.com/Quethzel" target="_blank"><fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon></a></li>
            <li><a href="https://www.linkedin.com/in/quethzel/?locale=en_US" target="_blank"><fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon></a></li>
            <li><a href="#" (click)="credits($event)"><fa-icon [icon]="['fas', 'info-circle']" size="lg"></fa-icon></a></li>
        </ul>
    </footer>
</div>