.spacer {
    flex: 1 1 auto;
}

.home-btn {
    font-size: x-large;
}

.sidenav-btn {
    display: none;
}

@media only screen and (max-width:599px)  {
    .toolbar-btn {
        display: none;
    }
    .sidenav-btn {
        display: block;
    }
}