 .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-container {
    width: 70%;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 20px 10px;
    padding: 10px;
}
.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    display: inherit;
}
.content {
    padding: 0 25px;
}
.main-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 90vh;
    border: 2px dashed red;
}

.hero {
    align-self: center;
}

h1 {
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    line-height: 1.1;
}

.legend {
    font-weight: 300;
}

p {
    padding-top: 10px;
    font-size: 16px;
    max-width: 550px;
}

.work-at {
    text-decoration: none;
    font-weight: bold;
}