<div class="container">
<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Experience</button>
    <button mat-button>Projects</button>
    <button mat-button>Contact</button>
</mat-toolbar>

<mat-sidenav-container class="container" hasBackdrop="true">
    <mat-sidenav mode="over" #sidenav>
        <div class="container">
            <button mat-button>About</button>
            <button mat-button>Experience</button>
            <button mat-button>Projects</button>
            <button mat-button>Contact</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        content here...
    </mat-sidenav-content>
</mat-sidenav-container>


</div>