<h2 mat-dialog-title>PowerFolio</h2>
<mat-dialog-content>
    <p class="label">Design & Build</p>
    <p>H.Quethzel Diaz Zarate</p>
    <p class="label">Last Update</p>
    <p>{{ lastUpdate }}</p>
    <p class="label">Technologies</p>
    <p>Angular, Angular Material, Google Maps API, Git, Github,
        CSS, HTML5, Fontawesome
    </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>