::ng-deep .mat-dialog-container {
    background: #fff;
    min-width: 380px;
}
h2 { text-align: center; }

mat-dialog-content {
    text-align: center;
}
p {
    max-width: 400px;
}
.label {
    font-weight: bold;
    margin-bottom: 5px;
}
