<h2 mat-dialog-title>PowerFolio</h2>
<mat-dialog-content>
    <p class="label">Design & Build</p>
    <p><a href="https://www.quethzel.com" target="_blank">H.Quethzel Diaz Zarate</a></p>
    <p class="label">Last Update</p>
    <p>{{ lastUpdate }}</p>
    <p class="label">Build With</p>
    <p>Angular & Angular Material <br/>Available in <a href="https://github.com/Quethzel/power-folio" target="_blank">GitHub</a></p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>