<div class="doing-section">
    <h2 class="title">What I'm doing...</h2>
    <div class="row">
        <mat-card class="pow-card">
            <mat-card-header>
                <mat-card-title>Improving my reframing skills</mat-card-title>
                <mat-card-subtitle>Last update: Aug 21 2021</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    I'm reading <strong>What's your problem By Thomas Wedell</strong>.<br/>
                    This book presents a set tools to help you to decide which problem is the best to solve 
                    when you face to a problem.
                </p>
            </mat-card-content>
            <mat-card-footer align="end">
                <button mat-button>See on Amazon</button>
            </mat-card-footer>
        </mat-card>
    
        <mat-card class="pow-card">
            <mat-card-header>
                <mat-card-title>Learning GraphQL</mat-card-title>
                <mat-card-subtitle>Last update: Sep 11 2021</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    I having working with ag-grid consuming a lot of data from diferent endpoints
                    so I saw the opportunity to lear GraphQL to be able to implement in future projects. (Also because is
                    exiting)
                </p>
            </mat-card-content>
            <mat-card-footer align="end">
                <button mat-button>Go to Oreilly App</button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
