<section class="section about-me">
    <h2 class="title">About Me</h2>
    <div class="row">
        <div class="column ctn-center">
            <figure>
                <img width="400px" height="400px" src="../assets/me.jpg">
            </figure>
        </div>
        <div class="column">
            <p>
                Hi, simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. 
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                passages, and more recently with desktop publishing software like Aldus PageMaker including 
                versions of Lorem Ipsum.
            </p>           
            <p>I've been working with these technologies recently.</p>
            <ol class="skill-list">
                <li>TypeScript</li>
                <li>Angular</li>
                <li>C#</li>
                <li>Firestore</li>
                <li>SQL Server</li>
                <li>Flutter</li>
            </ol>
        </div>
    </div>
</section>