<section class="section about-me">
    <h2 class="title">About Me</h2>
    <div class="row">
        <div class="column ctn-center">
            <figure>
                <img width="400px" height="400px" src="assets/me.jpg">
            </figure>
        </div>
        <div class="column">
            <p>
                Let me give you a brief intro about me. I'm a software engineer located in Monterrey Mexico (for the time being).
                I have serios passion by software development, I enjoy every step of the process and 
                I've had the privilege to participate in all stages of a project within my carrer.
                I have received some recognitions and also achieve a couple certifications.<br/>
                I'm considere my selft as a proactive person, well organized and problem solver. I think that has been the reason why I have been able to participate 
                in the most exciting projects within the companies in which I have worked.
            </p>
            <p>These are some of the technologies that I've been used recently.</p>
            <ol class="skill-list">
                <li>TypeScript</li>
                <li>Angular</li>
                <li>Net Framework</li>
                <li>Azure & Azure DevOps</li>
                <li>SQL Server</li>
                <li>Dynamics 365</li>
            </ol>
        </div>
    </div>
</section>