<section class="section experience">
    <h2 class="title">Experience</h2>
    <div class="row">
        <mat-tab-group>
            <mat-tab label="Bray Inc.">
              Tab One Content
            </mat-tab>
            <mat-tab label="Neoris">
              Tab Two Content
            </mat-tab>
            <mat-tab label="Apple">
                Apple Dublin
            </mat-tab>
            <mat-tab label="Amazon">
                Amazon UK
            </mat-tab>
            <mat-tab label="LIS">
                Tab three content
              </mat-tab>
          </mat-tab-group>
    </div>
</section>