.info-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

::ng-deep .mat-chip-list-wrapper {
  margin: 10px !important;
}
mat-chip {
  padding: 3px 10px;
  font-size: 12px;
}

span {
  color: #777;
}

@media only screen and (max-width: 425px) {
  .info-container {
    padding: 30px 10px;
  }
  ul {
    padding-left: 15px;
  }
  mat-chip-list {
    display: none;
  }
}

