<div class="info-container">
    <h1>{{work.role}}</h1>
    <p>
        {{formatDate(work.startDate)}} - {{work.endDate != null ? formatDate(work.endDate) : 'Present'}} 
        &centerdot; <span>{{work.duration}}</span>
    </p>
    <ul>
        <li *ngFor="let responsability of work.responsabilities">
            {{responsability.description}}
        </li>
    </ul>
    <mat-chip-list>
        <mat-chip *ngFor="let tech of work.stack"
            [color]="tech.softSkill ? 'primary' : 'secondary'" selected>
            {{tech.technology}}
        </mat-chip>
    </mat-chip-list>
</div>
